html,
body {
    background-color: Canvas !important;
    color: CanvasText;
    color-scheme: light dark;
}

.app-container {
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #2e3440;
    color: #e5e9f0;
}

.app-portal-btn-txt:hover, 
.app-portal-btn-txt,
.app-login-btn-txt:hover,
.app-login-btn-txt {
    background-color: #4c566a;
    color: #eceff4;
}

.logo-col-txt, .app-inp-lbl, .logo-txt {
    color: #e5e9f0;
}

#bookmarks {
  display: none;
}
