html,
body {
  background-color: Canvas !important;
  color: CanvasText;
  color-scheme: light dark;
}

.app-content {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.app-container {
  background-color: #2e3440;
  border: 1px solid #ccc;
  box-shadow: none;
  color: #e5e9f0;
}

.app-login-btn-img,
.app-login-btn-txt,
.app-login-btn-txt:hover,
.app-portal-btn-img,
.app-portal-btn-txt,
.app-portal-btn-txt:hover
{
  background-color: #4c566a;
  color: #eceff4;
}

.logo-col-txt, .app-inp-lbl, .logo-txt {
  color: #e5e9f0;
}

#bookmarks, .app-inp-lbl {
  display: none;
}
