html, body {
  background-color: Canvas !important;
  color: CanvasText;
  color-scheme: light dark;
}

.app-container {
    box-shadow: none;
    border: 1px solid #ccc;
}

#bookmarks {
    display: none;
}

.app-body nav {
    background-color: #9fd39f;
    box-shadow: none;
}

nav .brand-logo {
    color: black;
    font-weight: bold;
}

.btn,
.collection .collection-item.active {
    background-color: #177408;
}

.collection a.collection-item {
    color: #009b00;
}

.collection .collection-item:nth-child(2),
.collection .collection-item:nth-child(3),
.collection .collection-item:nth-child(5),
.collection .collection-item:nth-child(7) {
    display: none;
}

.navbtn,
span.app-btn-text,
span.app-error-text {
    font-family: unset;
}
